.bannertext {
  padding: 80px;
  color: gold;
  font-size: 45px;
}

.welcomebanner {
  width: 95%;
  height: 100%;
}

p.edittext {
  font-size: 25px;
  color: black;
  font-weight: bold;
  word-spacing: 2px;
  line-height: 1.5;
}

p.thanks {
  font-size: 25px;
  color: gold;
  font-weight: bold;
  word-spacing: 2px;
  line-height: 1.5;
}
